* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    color: navy;
    font-size: 2.5em;
}
main {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(248, 242, 242);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
li {
    margin-bottom: 15px;
    color: navy;
    font-weight: bold;
    font-family: initial;
}
label {
    color: rgb(38, 34, 34);
    display: block;
    padding: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
}
p {
    text-align: left;
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgb(36, 34, 34);
    border: 1px solid rgb(34, 31, 31);
    box-sizing: border-box;
}
button {
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: navy;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkgreen;
}
